---
title: Rhone 2024
---
<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rhone 2024</title>
  <link rel="stylesheet" href="gh-pages-style.css">
  <link rel="stylesheet" href="style.css">
</head>

<body class="main-page">
  {% include navbar.html %}
  <div id="left-toc">
    {% include toc.html open="open"%}
  </div>
  <div id="main-wrapper">
    <div id="left-column">
      <!-- Placeholder for 3-column layout -->
    </div>
    <div id="content">
      <i>Aktueller Post</i>
      <h1>{{ site.posts.first.title }}</h1>
      <section>
        {{ site.posts.first.content }}
      </section>
      <p class="link-to-previous-post">
        <a href=".{{ site.posts[1].url }}">Davor: <br>{{ site.posts[1].title }}</a>
      </p>
    </div>
    <div id="right-column">
      <!-- Placeholder for 3-column layout -->
    </div>
  </div>
</body>

</html>