:root {
  --color-font: #fed;
  --color-hyperlink: #5ce;
  --color-bg: #18001f;
  --color-bg2: #3a102a;

  background-color: var(--color-bg);
  color: var(--color-font);
}

a {
    color: var(--color-hyperlink);
}

body {
    max-width: 100%;
}

* {
    font-size: large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  margin-bottom: 7px;
}

nav {
    position: sticky;
    top: 0;
    padding-left: 20px;
    background-color: var(--color-bg2);
    margin-bottom: 7px;
    z-index: 1;
}

nav a {
    color: var(--color-font);
    font-size: large;
    font-weight: bold;
    padding: 2px 0;
}

#main-wrapper>* {
  max-width: 1080px;
  margin: 0px 20px;
}

img,
iframe {
    max-height: 600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px 0px;
    border: none;
}

ul, ol {
    padding-left: 20px;
}

li {
    margin-left: 0px;
    padding-left: 0px;
}

.post #left-toc {
    display: none;
}

.toc {
    word-break: break-word;
    text-align: left;
}

.toc ul {
    padding-left: 26px;
    margin-top: 0px;
    list-style-type: "\2726";
}

.toc li {
    padding-left: 7px;
}

.footnotes ol li:before {
    content: "[" counter(level1) "] ";
    counter-increment: level1;
    display: inline;
}
.footnotes ol li {
    display: inline;
    list-style-type: none;
}

.footnotes ol li:after {
    content: "<br>";
    display: inline;
}


.footnotes ol {
    list-style-type: none;
}

.main-page .link-to-previous-post {
    text-align: right;
}

.main-page .toc {
    margin: 0px 20px 7px;
}

@media (min-width: 800px) {
    #main-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        width: 100%;
    }
    #left-column {
        min-width: 220px;
    }
    #content {
        max-width: 1080px;
        text-align: justify;
    }
    :root {
        justify-content: left;
    }
    #left-toc {
        position: fixed;
        margin-left: 20px;
        max-width: 200px;
        display: inline;
    }
    .post #left-toc {
        display: inline;
    }
    #bottom-toc {
        display: none;
    }
    .main-page #left-column hr {
        display: none;
    }
}
