:root {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body>* {
  max-width: 1080;
  margin: 0px 20px;
}

img {
    max-height: 600px;
}

@media (min-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        width: 100%;
    }
    #content {
        max-width: 1080;        
    }
    :root {
        justify-content: left;
    }
}
