<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.blog_title }}</title>
  <link rel="stylesheet" href="typography.css">
  <link rel="stylesheet" href="style.css">
</head>

<body class="main-page">
  {% include navbar.html %}
  <div id="desktop-toc">
    {% include toc.html open="open"%}
  </div>
  <div id="main-wrapper">
    <div id="left-column">
      <!-- Placeholder for 3-column layout -->
    </div>
    <div id="content">
      <section>
        {% capture home %}{% include_relative pages/home.md %}{% endcapture %}
        {{ home | markdownify }}
      </section>
      <div id="mobile-toc">
        {% include toc.html open="open" %}
      </div>
    </div>
    <div id="right-column">
      <!-- Placeholder for 3-column layout -->
    </div>
  </div>
</body>

</html>
